<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_image"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".Information"
            android:exported="false" />
        <activity
            android:name=".events.AddEvent"
            android:exported="false" />
        <activity
            android:name=".events.EventDetails"
            android:exported="false" />
        <activity
            android:name=".events.EventAdapter"
            android:exported="false" />
        <activity
            android:name=".events.EventList"
            android:exported="false" />
        <activity
            android:name=".users.UserAdapter"
            android:exported="false" />
        <activity
            android:name=".users.UsersList"
            android:exported="false" />
        <activity
            android:name=".users.UserProfileEdit"
            android:exported="false" />
        <activity
            android:name=".users.UserProfile"
            android:exported="false" />
        <activity
            android:name=".MainScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pickups.MainActivity"
            android:exported="true" />
        <activity
            android:name=".pickups.AgregarPickUpActivity"
            android:exported="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_map_api_key" />
    </application>

</manifest>